future==0.17.1
gensim==3.7.3
jsonpickle==1.1
jsonschema==2.6.0
Keras==2.2.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
nltk==3.4.1
numpy==1.16.3
pathos==0.2.3
pickleshare==0.7.5
pika==0.12.0
pyjarowinkler==1.8
rake-nltk==1.0.4
scikit-learn==0.20.3
scipy==1.2.1
simplejson==3.16.0
six==1.12.0
spacy==2.0.13
tensorboard==1.13.1
tensorflow==1.15.2
tensorflow-estimator==1.13.0
ujson==1.35
zope.interface==4.6.0
